* {
    box-sizing: border-box;
}

body {
    background-color: #4e6379;
}

.panel

.panel-item {

}

.panel-item {
    display: block;
}

.panel-item button {
    color: #ffffff;
    background-color: #f56332;;
}

.title {
    color: #f56332;
}

.price {

}

